---
controller_templates:
  # This should include the org-config job template
  # if we use object_diff, it would be marked as missing otherwise...
  - name: "00-{{ tenant_name }}-example-job-template"
    organization: "{{ tenant_name }}"
    description: Prints Hello World
    job_type: run
    inventory: "00-{{ tenant_name }}-example-inventory"
    project: "00-{{ tenant_name }}-example-project"
    playbook: playbooks/hello-world.yaml
    verbosity: 2
  - name: "00-{{ tenant_name }}-ping"
    organization: "{{ tenant_name }}"
    description: Ping hosts
    job_type: run
    inventory: "00-{{ tenant_name }}-example-inventory"
    project: "00-{{ tenant_name }}-example-project"
    playbook: playbooks/ping.yaml
    ask_limit_on_launch: true
    verbosity: 2
    credentials:
      - "00-{{ tenant_name }}-dev-env-ssh-key"
