---
apiVersion: v1
kind: Service
metadata:
  name: rhel10
  namespace: "{{ tenant_name}}-{{ split_branch_name }}"
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: rhel10
  ports:
    - port: 22
      nodePort: 30007